/*ESTILO GERAL*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 236, 210, 0.921);
}

h1{
    font-family: Roboto Slab, serif;
    color: #c0262c;
    font-size: 2.5em;
    border-bottom: #c0262c groove 2px;/*(thin) É UM TIPO DE EXPRESSURA, É UMA OPÇÃO ALTERNATIVA PARA LINHA FINA SE NÃO QUISER USAR O PX*/
    padding-bottom: 10px;
}
p:first-line{
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

p{
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

hr{
    border-color: #c0262c;
}

table{
    background: url(imagens/urso-coracao.gif);
    font-size: large;
    width: 500px;
    margin: 0 575px 0 575px;
    text-align: center;
}

table caption{
    font-weight: bolder;
    font-size: 30px;
}
