/*ESTILIZAÇÃO DO QUEM SOMOS*/

/*ESTRUTURA*/
body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.quemsomos img{
    float: left;
    border: solid #c0262c thin;
    border-radius: 20px;
    padding: 9px;
    background-color: #fff;
    margin: 0 10px 10px 0;
}

h1{
    font-family: Sofadi One, system-ui;
}

